@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rajdhani:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    color: white;

}

#container {
    width: 60vw;
    height: 80vh;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;

}