@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rajdhani:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    color: white;

}

body{
    background: black;
}

#container {
    margin-left: 20vw;
    margin-top: 10vh;
    width: 60vw;
    height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

.user-card{
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
}

.user-avatar{
    border-radius: 50%;
    padding: 15px;
    background: white;
    color:black;
    font-weight: bolder;
    margin: 0 20px;
}

.user-avatar::after {
    content: attr(categoryAtt);
    border-radius: 50%;
    border: 1px solid white;
    padding: 1px 8px;
    background: black;
    color: white;
    font-weight: bolder;
    position: absolute;
    margin: 12px 0;
}