@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Rajdhani:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    color: white;

}

body{
    background: black;
}

#container {
    margin-left: 20vw;
    margin-top: 10vh;
    width: 60vw;
    height: fit-content;
    max-height: 80vh;
    overflow-y: scroll;
    display: flex;
    flex-flow: wrap row;
    border: 1px solid rgba(255, 255, 255, 0.6);
}

#container::-webkit-scrollbar {
    width: 6px;
}

#container::-webkit-scrollbar-track {
    background: white;
}

#container::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
}

.category-header {
    width: 100%;
    height: fit-content;
    padding: 3px 5px;
    display: flex;
    flex-flow: wrap row;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
}

.category-btn{
    background-color: black;
    border: 1px solid white;
    border-radius: 20px;
    padding: 3px 10px;
    cursor: pointer;
}

#category_1:hover,
#category_2:hover {
    background-color: white;
    color:black;
    
}

.user-card{
    width: 100%;
    height: 100px;
    display: flex;
    flex-flow: wrap row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid white;
}

.user-card::after {
    content: attr(categoryAtt);
    border-radius: 50%;
    border: 1px solid white;
    padding: 1px 8px;
    background: black;
    color: white;
    font-weight: bolder;
    position: relative;
    margin: 12px 0 12px 16px;
}

.user-avatar{
    border-radius: 50%;
    padding: 15px;
    background: white;
    color:black;
    font-weight: bolder;
    margin: 0 20px;
}


@media only screen and (max-width: 450px) {
    #container {
            margin-left: 0;
            margin-top: 0;
            width: 100vw;
            height: 100vh;
            max-height: 100vh;
        }
}